.user-info {
  display: flex;
  align-items: center;
  margin-top: 13.5px;
  margin-bottom: 13.5px;
}

.user-info__avatar {
  all: unset;
  background-image: url(../../assets/images/Avatar.png);
  width: 36px;
  height: 36px;
  margin: 0 8px 0 0;
  border-radius: 40px;
  cursor: pointer;
}

.user-info__email {
  margin: 0;
}
