.resetPass__wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  background-color: #1A1B22;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url(../../assets/images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.resetPass__form {
  position: relative;
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 386px;
  width: 100%;
  border-radius: 20px;
  background-color: #FFF;
  gap: 16px;
  z-index: 10;
}

.resetPass__title {
  margin: 0;
  font-family: "YS Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: #1A1B22;
}

.resetPass__subtitleBlock {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.resetPass__subtitle {
  font-family: "YS Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #1A1B22;
}

.resetPass__text {
  margin: 4px 0 0;
  font-family: "YS Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #797981;
}

.resetPass__submitButton {
  margin: 0;
}

.resetPass__link {
  margin: 24px 0 0;
  font-family: "YS Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

.resetPass__link:hover {
  color: #1D6BF3;
}
