.faq-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1D6BF31A;
  border-radius: 12px;
  border: 1px solid #DDDDDD;
  padding: 10px 16px;
  margin-bottom: 10px;
  position: relative;
}
.faq-item__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.MuiPaper-root::before {
  height: 0 !important;
}
.faq-item > button {
  position: absolute;
  top: 12px;
  right: 20px;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
/* .MuiInputBase-root {
  padding: 8px 12px !important;
  border: none;
  border-radius: 8px !important;
} */
