.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  max-width: 580px;
  height: 100vh;
  margin: auto;
}
.not-found__image {
  font-size: 300px;
  line-height: 350px;
  font-weight: 500;
  color: #5A9BFF;
}

.not-found__title {
  font-size: 34px;
  line-height: 40px;
  font-weight: 500;
}

.not-found__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #797981;
}
.not-found__btn {
  padding: 20px 33px;
  color: #fff;
  background-color: #5A9BFF;
  border-radius: 4px;
  text-decoration: none;
}
